canvas {
  max-width: 100%;
  height: auto;
  border: 3px;
  border-color: #f00;
}

figure {
  display: inline-block;
  vertical-align: top; /* 選擇一個垂直對齊方式 */
  margin-inline: 0.5em; /* 選擇一個內邊距 */
}

figcaption {
  font-style: italic;
  font-size: 14px;
  text-align: center;
  margin-top: 0px;
  color: #666;
}

/* 布局容器 */
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.left .divider .right {
  flex-grow: 1;
}

/* 用來分割左右兩塊的圆弧框线 */
.divider {
  /* float: left; */
  border-radius: 50%;
  width: 6px;
  height: 100px;
  background-color: #ddd;
  margin: 0 10px;
  /* display: inline-block; */
}

/* 左侧的下拉菜单和上传按钮 */
.left {
  width: 200px;
  text-align: center;
}

/* 右侧的拖拽区域和画布 */
.right {
  width: 400px;
  margin-right: 10px;
  text-align: center;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 用于拖拽区域的样式 */
.dropzone {
  display: inline;
  border: 2px dashed #aaa;
  width: 200px;
  height: 150px;
  margin: 20px auto;
  line-height: 150px;
  font-size: 18px;
  float: left;
}

/* 用于画布的样式 */
#myCanvas {
  border: 1px solid #f00;
  margin-top: 20px;
  width: 72;
  height: 88;
  border: 3px;
  float: right;
  background: green;
}

#canvasContainer {
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  max-width: 1024px;
}
